<html>
<head>
    <style>
        ul.nav {
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
	        list-style: none;
	    }
	    ul.nav li {
		    display: inline;
		    padding: 20px;
	    }
	    h3.table-title {
	        margin: 0;
	        padding: 0;
	        padding-bottom: 20px;
	    }
	    div.section {
	        margin-top: 50px;
	    }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108902406-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108902406-3');
    </script>
</head>
<body>
    <p>kawalkpu.online versi {{ version }}</p>
    <h3></h3>
    <ul class="nav">
        <li>
            <a href="/">Semua Provinsi (Beranda)</a>
        </li>
        <li>
            <a href="/cities">Semua Kota</a>
        </li>
    </ul>
    <ul class="nav">
        <li>
            <a href="/islands/ACEH|SUMATERA UTARA|RIAU|SUMATERA BARAT|KEPULAUAN RIAU|JAMBI|BENGKULU|SUMATERA SELATAN|LAMPUNG">Pulau Sumatera</a>
        </li>
        <li>
            <a href="/islands/BANTEN|DKI JAKARTA|JAWA BARAT|JAWA TENGAH|DAERAH ISTIMEWA YOGYAKARTA|JAWA TIMUR">Pulau Jawa</a>
        </li>
        <li>
            <a href="/islands/KALIMANTAN BARAT|KALIMANTAN TENGAH|KALIMANTAN SELATAN|KALIMANTAN TIMUR|KALIMANTAN UTARA">Pulau Kalimantan</a>
        </li>
        <li>
            <a href="/islands/SULAWESI UTARA|SULAWESI TENGAH|SULAWESI SELATAN|SULAWESI TENGGARA|GORONTALO|SULAWESI BARAT">Pulau Sulawesi</a>
        </li>
        <li>
            <a href="/islands/PAPUA|PAPUA BARAT">Pulau Papua</a>
        </li>
    </ul>

    <div class="section">
        <h3 class="table-title">
            Tabel Perolahan Suara
        </h3>
        <table cellpadding="10">
            <thead>
            <tr>
                <th rowspan="2">Wilayah</th>
                <th colspan="2">01</th>
                <th colspan="2">02</th>
                <th rowspan="2">Total Suara</th>
            </tr>
            <tr>
                <th>Jumlah Suara</th>
                <th>Penambahan</th>
                <th>Jumlah Suara</th>
                <th>Penambahan</th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="?field=01&sort=desc">tinggi ke rendah</a>
                </td>
                <td>
    <!--                <a href="">tinggi ke rendah</a>-->
                </td>
                <td>
                    <a href="?field=02&sort=desc">tinggi ke rendah</a>
                </td>
                <td>
    <!--                <a href="">tinggi ke rendah</a>-->
                </td>
                <td>
                    <a href="?field=total&sort=desc">tinggi ke rendah</a>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
            <tr>
                <td>
                    {% if next_level %}
                    <a href="/{{ next_level }}/{{ row['_id'] }}">{{ row['_id'].replace("|", " - ") }}</a>
                    {% else %}
                    {{ row['_id'].replace("|", " - ") }}
                    {% endif %}
                </td>
                <td align="right" style="cursor:pointer; background:{{ row['color_01'] }}">
                    {% if row['is_win_01'] %}
                    <b>{{ format_decimal(row['01'], locale="id_ID") }}</b>
                    {% else %}
                    {{ format_decimal(row['01'], locale="id_ID") }}
                    {% endif %}
                </td>
                <td align="right" style="cursor:pointer; background:{{ row['color_diff_01'] }}">
                    {{ format_decimal(row['diff_01'], locale="id_ID") }}
                </td>
                <td align="right" style="cursor:pointer; background:{{ row['color_02'] }}">
                    {% if row['is_win_02'] %}
                    <b>{{ format_decimal(row['02'], locale="id_ID") }}</b>
                    {% else %}
                    {{ format_decimal(row['02'], locale="id_ID") }}
                    {% endif %}
                </td>
                <td align="right" style="cursor:pointer; background:{{ row['color_diff_02'] }}">
                    {{ format_decimal(row['diff_02'], locale="id_ID") }}
                </td>
                <td align="right">
                    {{ format_decimal(row['total'], locale="id_ID") }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th align="left">TOTAL</th>
                <th align="right">
                    {{ format_decimal(total['01'], locale="id_ID") }}
                </th>
                <th align="right">
                    {{ format_decimal(total['diff_01'], locale="id_ID") }}
                </th>
                <th align="right">
                    {{ format_decimal(total['02'], locale="id_ID") }}
                </th>
                <th align="right">
                    {{ format_decimal(total['diff_02'], locale="id_ID") }}
                </th>
                <th align="right">
                    {{ format_decimal(total['all'], locale="id_ID") }}
                </th>
            </tr>
            <tr>
                <th align="left">%</th>
                <th align="right">
                    {{ format_decimal(percent['01'], locale="id_ID") }} %
                </th>
                <th align="right"></th>
                <th align="right">
                    {{ format_decimal(percent['02'], locale="id_ID") }} %
                </th>
                <th align="right"></th>
                <th align="right">
                    {{ format_decimal(percent['01'] + percent['02'], locale="id_ID") }} %
                </th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <h3 class="table-title">
            Tabel Keunggulan
        </h3>
        <table cellpadding="10" width="500">
            <tr>
                <th>01</th>
                <td align="right">{{ total['win_01'] }} wilayah</td>
                <td align="right">{{ format_decimal(percent['win_01'], locale="id_ID") }} %</td>
            </tr>
            <tr>
                <th>02</th>
                <td align="right">{{ total['win_02'] }} wilayah</td>
                <td align="right">{{ format_decimal(percent['win_02'], locale="id_ID") }} %</td>
            </tr>
            <tr>
                <th>-</th>
                <td align="right">{{ total['draw'] }} wilayah</td>
                <td align="right">{{ format_decimal(percent['draw'], locale="id_ID") }} %</td>
            </tr>
            <tr>
                <th>Jumlah</th>
                <td align="right">{{ format_decimal(total['win_01'] + total['win_02'] + total['draw'], locale="id_ID") }} wilayah</td>
                <td align="right">{{ format_decimal(percent['win_01'] + percent['win_02'] + percent['draw'], locale="id_ID") }} %</td>
            </tr>
        </table>
    </div>
    <p>* Data diperbaharui setiap 15 menit. Penambahan merupakan selisih dari data sebelumnya.</p>
</body>
</html>